<body>
<%= render 'layouts/header' %>

<div class="row">
	<div class="col-md-6">
		<%= render 'docs/products/starter' %>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-4">
		<div class="container">
			<div class="row">
				<img src="/assets/base_station_only.png" alt="starter package">
			</div>
			<div class="row">
				<img src="/assets/sensor_only.png" alt="starter package">
			</div>
			<div class="row">
				<img src="/assets/the_app.png" alt="starter package">
			</div>
		</div>
	</div>
</div>

<div class="big_wrapper">
  <div class="wrapper center" id="middle_reserve">
    <h2><%= Settings.ships %></h2>
    <a href="/preorder/checkout" class="btn btn-primary reserve"><%= Settings.middle_reserve_text %></a>
  </div>
</div> 

</body>