
<style>
	.banner {
		width: 100%;
	}

	.separator {
		height: 100px;
	}

	.who {
		height: 500px;
		margin-left: 1.5%;
		margin-right: 1.5%;
	}

	.who-img > img {
		width: 260px;
		height: 350px;
		display: block;
		margin: 0 auto;
	}

	.who-title {
		margin: 10px;
		font-size: 40px;
		text-align: center;
		cursor: pointer;
	}

	.center {
		text-align: center;
	}


	.who-desc {
		font-size: 16px;
		text-align: center;
	}

	.who-display {
		width: 60%;
	}

	.who-more {

	}

	.who-display-more {
		width: 66%;
		display: inline-block;
	}

</style>
<script>

$(function() {

	var rental = '' +
		'<div class="who-splash">' + 
			'<div class="who-img">' +
				'<img src="/assets/rental.png">' + 
			'</div>' +
			'<div class="who-desc">' + 
				'<p>Finally, home security for renters</p>' +
			'</div>' +
		'</div>';

	var home = '' +
		'<div class="who-splash">' +
			'<div class="who-img">' +
				'<img src="/assets/home.png">' +
			'</div>' +
			'<div class="who-desc">' +
				'<p>Own a home, own your security</p>' +
			'</div>' +
		'</div>';

	var office = '' +
		'<div class="who-splash">' +
			'<div class="who-img">' +
				'<img src="/assets/office.png">' +
			'</div>' +
			'<div class="who-desc">' +
				'<p>Secure your practice</p>' +
			'</div>' +
		'</div>';

	var rentalMore = '' +
		'<div class="who-more">' +
			'<p> Rental More </p>' +
		'</div>';
	var homeMore = '' +
		'<div class="who-more">' +
			'<p> Home More </p>' +
		'</div>';	
	var officeMore = '' +
		'<div class="who-more">' +
			'<p> Office More </p>' +
		'</div>';

	$('#rental .who-splash').html(rental);
	$('#home .who-splash').html(home);
	$('#office .who-splash').html(office);

	$('#rental').click(function() {
		$('#home .who-splash').hide();
		$('#office .who-splash').hide();
	});

	$('#home').click(function() {
		
	});

	$('#office').click(function() {
		
	});
});
	
</script>
<body>
<%= render 'layouts/header' %>
<!-- <div>
	<img class="banner" src="/assets/banner.jpg" />
</div> -->
<div id="ourteam"></div>
<div id="crowdfunding"></div>

<div id="who">
	<div class="page-header">
		<h1 class="center">Home Security For Everyone
			<br>
			<small>
				Is Genius right for you? Of course. It was designed with renters, homeowners, and small businesses in mind
			</small>
		</h1>
	</div>

	<div class="who">
		<div class="row">
			<div id="rental" class="col-md-4">
				<div class="who-title">
					<span>Rental</span>
				</div>
				<div class="who-splash"></div>
			</div>
			<div id="home" class="col-md-4">
				<div class="who-title">
					<span>Home</span>
				</div>
				<div class="who-splash"></div>
			</div>
			<div id="office" class="col-md-4">
				<div class="who-title">
					<span>Office</span>
				</div>
				<div class="who-splash"></div>
			</div>
		</div>
		<div style="display: none;" class="row" id="who-display-more">

		</div>
	</div>
</div>
<div style="height: 1000px;"></div>
<div id="support"></div>
<div id="product"></div>
<div id="faqs">
	
	
</div>
<!-- <div class="banner">
	<div class="products">
		<img src="/assets/products.png" />
	</div>
</div> -->
</body>
