
<style>
	.banner {
		width: 100%;
	}

</style>
<body>
<%= render 'layouts/header' %>
<!-- <div>
	<img class="banner" src="/assets/banner.jpg" />
</div> -->
<div id="ourteam"></div>
<div id="crowdfunding"></div>
<div id="support"></div>
<div id="product"></div>
<div id="faqs">
	
	
</div>
<!-- <div class="banner">
	<div class="products">
		<img src="/assets/products.png" />
	</div>
</div> -->
</body>
