
<body>
<%= render 'layouts/header' %>

<div id="product" class="container">
	<div class="page-header">
		<div class="row">
			<div class="col-md-8">
			<h1>Product Specifications</h1>
			</div>
			<div class="col-md-4">
				<h3 class="email-support"><a href="mailto:support@geniussecure.com">Send us a question</a></h3>
			</div>
		</div>
	</div>
	<div class="row">
		<p>
			Includes product specifications. Picture of product with how it works. 
		</p>
	</div>
</div>
</body>