<body>
<%= render 'layouts/header' %>

<div id="support" class="container">
	<div class="page-header">
		<div class="row">
			<div class="col-md-8">
				<h1>Support</h1>
			</div>
			<div class="col-md-4">
				<h3 class="email-support"><a href="mailto:support@geniussecure.com">Send us a question</a></h3>
			</div>
		</div>
	</div>
	<div class="row">
		<p>
			Include privacy policy, return polciy, and a form submission on this page. Also will include how to images here when we have them. 
		</p>
	</div>
</div>
</body>