
<style>
	#who img {
		width: 350px;
		height: 400px;
		margin-bottom: 70px;
	}
	#who p {
		font-size: 25px;
		line-height: 1.5;
	}
	#who h2 {
		margin: 20px 0 30px 0;
	}
	#who .row {
		margin-top: 70px;

	}
</style>
<body>
<%= render 'layouts/header' %>

<div id="who" class="container">
	<div class="page-header">
		<div class="row">
			<div class="col-md-8">
				<h1>Home Security for Everyone</h1>
			</div>
			<div class="col-md-4">
				<h3 class="email-support"><a href="mailto:support@geniussecure.com">Send us a question</a></h3>
			</div>
		</div>
	</div>

	<div class="row big_wrapper">
		<div class="wrapper">
			<div class="col-md-4">
				<img src="/assets/rental.png">
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<h2 style="text-align: center;">
			        Do you Rent?
			     </h2>
			     <p>
			        Genius is perfect for renters. Simply mount the device to the ceiling using 3M mounting tape. ...
			     <p>
			</div>
		</div>
	</div>
	<div class="row big_wrapper">
		<div class="wrapper">
			<div class="col-md-4">
				<h2 style="text-align: center;">
			        Do you Rent?
			     </h2>
			     <p>
			        Genius is perfect for renters. Simply mount the device to the ceiling using 3M mounting tape. ...
			     <p>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<img src="/assets/rental.png">
			</div>
		</div>
	</div>
	<div class="row big_wrapper">
		<div class="wrapper">
			<div class="col-md-4">
				<img src="/assets/rental.png">
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<h2 style="text-align: center;">
			        Do you Rent?
			     </h2>
			     <p>
			        Genius is perfect for renters. Simply mount the device to the ceiling using 3M mounting tape. ...
			     <p>
			</div>
		</div>
	</div>
	
</div>

</body>
