<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h3>Secures Any Home</h3>
      <p>Place Genius comfortably in any home. If you move, easily take the device with you.</p>
    </li>
    <li id="section-2">
      <h3>Easy Install</h3>
      <p>With no professional installation required, you can install your Genius device in less than five minutes.</p>
    </li>
    <li id="section-3">
      <h3>Advanced Motion Detection</h3>
      <p>Utilizing the best technology available, Genius is smart enough to know if your house cat is causing a stir versus a legitimate intrusion.</p>
    </li>
    <li id="section-4">
      <h3>Cordless</h3>
      <p>Battery powered sensor devices do not need a cord, allowing you to put Genius wherever you need it.</p>
    </li>
    <li id="section-5">
      <h3>Any Smartphone</h3>
      <p>Genius works with any Android or IOS smartphone device.</p>
    </li>
    <li id="section-6">
      <h3>Discretely Designed</h3>
      <p>Designed to be out of place out of mind, the sensor blends in like a smoke detector.</p>
    </li>
  </ul>
</div>
