<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h2>
        Security without a contract
      </h2>
      <p>
       No binding contracts! Genius will provide your home with discrete security in the palm of your hand. 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h2 style="text-align: center;">
        Genius will bring you peace of mind
      </h2>
      <p>
        Know that you will be notified of an intrusion or an emergency immediately when it happens. 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h2>
        Your system, you control it.
      </h2>
      <p>
        Place the sensor anywhere on your selling and when the alarm trips a picture is sent to your phone. The power is in your hand to decide what to do next.
      <p>
    </div>
  </div>
  <div class="wrapper">
    <p class="seemore-who"><a href="/docs/who">See more on if Genius is for you ... </a></p>
  </div>
  
</div>

