/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require reset
 *= require main
 *= require jquery.ui.all
 *= require bootstrap
 *= require bootstrap-theme
 */
.hidden 
{
  display: none;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.docs-content {
	display: inline-block;
}
.docs-title {
}
.docs-menu {
}
.docs-main {
	margin-top: 40px;
	margin-left: 10%;
	margin-right: 10%;
}
.docs-faqs li {
	margin-bottom: 5%;
}
.h-offset {
	padding-top: 40px;
	margin-top: -40px;
}
div.line-break {
	margin: 4% 0px;
	border-top: 1px solid gray;
}
.main {
	padding-top: 70px;
}