<body>
	<style>
		.small-logo {
			position: fixed;
			top: 20px;
			left: 20px;
		}
		.small-logo img {
			width: 100px;
		}
		.play-button {
			margin-top: 100px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.play-button:hover {
			cursor: pointer;
		}
		#video {
			width: 580px;
			height: 500px;
		}
		#splash-message {
			margin-top: 100px;
		}
		.splash-screen {
			background: url("assets/background/background-home3.jpg") center top;
			background-size: cover;
			height: 700px;
		}
		#splash-title {
			font-size: 80px;
			font-weight: 100;
		}
		.h-desc h1 {
			text-align: center;
			font-size: 70px;
			color: #6b6b6b;
			font-style: normal; 
			font-weight: 100;
		}
		.full-screen {
			height: 700px;
		}
		.expl {
			padding-top: 150px;
		}
		.expl h1 {
			font-size: 70px;
			color: #6b6b6b;
			font-family: proxima-nova; 
			font-style: normal; 
			font-weight: 100;
		}
		.expl p {
			font-size: 20px;
		}
		.expl em {
			font-style: italic;
		}
		.inno-system {
			background: url("assets/background/background-inno_system.jpg") center top;
			background-size: cover;
			height: 700px;
		}
		.inno-system-expl {
			padding-top: 200px;
		}
		.inno-system-expl h1 {
			text-align: center;
			font-size: 50px;
			font-family: proxima-nova; 
			font-style: normal; 
			font-weight: 100;
		}
		.feel-peace {
			background: url("assets/background/Camping.jpg") center top;
			background-size: cover;
			height: 700px;
		}
		.feel-peace-expl {
			padding-top: 150px;
		}
		.feel-peace-expl h1 {
			color: white;
			text-align: center;
			font-size: 70px;
			font-family: proxima-nova; 
			font-style: normal; 
			font-weight: 100;
		}
		.protect-home {
			padding-top: 200px;
			margin-bottom: 200px;
		}
		.protect-home h1 {
			text-align: center;
			font-size: 70px;
			color: #6b6b6b;
			font-family: proxima-nova; 
			font-style: normal; 
			font-weight: 100;
		}
		.portable {
			background: url("assets/background/background-portable.jpg") center top;
			background-size: cover;
			height: 700px;
		}
		.portable-expl {
			padding-top: 450px;
			padding-left: 700px;
		}
		.portable-expl h1 {
			color: white;
			text-align: center;
			font-size: 70px;
			font-family: proxima-nova; 
			font-style: normal; 
			font-weight: 100;
		}
		.total-control {
			background: url("assets/background/background-total_control.jpg") center top;
			background-size: cover;
			height: 700px;
		}
		.total-control-expl {
			padding-top: 450px;
			padding-right: 800px;
		}
		.total-control-expl h1 {
			color: white;
			text-align: center;
			font-size: 50px;
			font-family: proxima-nova; 
			font-style: normal; 
			font-weight: 100;
		}
		.genius-on {
			background: url("assets/background/background-get_your_genius_on.jpg") center top;
			background-size: cover;
			height: 700px;
		}
		.genius-on-expl {
			padding-top: 200px;
			padding-right: 800px;
		}
		.genius-on-expl h1 {
			text-align: center;
			font-size: 50px;
			font-family: proxima-nova; 
			font-style: normal; 
			font-weight: 100;
		}
	</style>

	<script>
		$(function() {

			$('.tlt').textillate({
				in: {
					effect: 'fadeInLeftBig',
					sync: true,
					shuffle: false
				},
				out: {
					effect: 'fadeOutRightBig',
					sync: true,
					shuffle: false
				}
			});

			var playBtn = $('#play-button');
			var videoModal = $('#video-modal');
			var iframe = document.getElementById('video');
			var player = $f(iframe);
			var play = $(iframe);

			playBtn.hover(function() {
				var img = this;
				img.src = '/assets/icons/play-button2-light.png';
			}, function() {
				var img = this;
				img.src = '/assets/icons/play-button2.png';
			});

			playBtn.click(function() {
				videoModal.modal();
				player.api('play');
			});

			videoModal.on('hide.bs.modal', function(e) {
				player.api('pause');
			});
		});
	</script>

	<div class="small-logo">
		<a href="/"><img src="/assets/smallLogo.png" /></a>
	</div>
	<div class="preorder">
  		<!-- <a class="btn" href="/docs/blog">Blog</a> -->
  		<button data-celery="genius" class="btn btn-primary"><%= Settings.call_to_action %></button>
  	</div>

	<div class="splash-screen">
		<div class="container">
			<div id="splash-message" class="row">
				<div class="col-md-12">
					<div class="h-desc">
						<h1 id='splash-title'>meet genius</h1>
						<h1 class="tlt">
							<ul class="texts">
								<li data-in-effect="fadeIn">home security</li>
								<li data-in-effect="fadeIn">no contract</li>
								<li data-in-effect="fadeIn">motion detection</li>
								<li data-in-effect="fadeIn">picture notification</li>
								<li data-in-effect="fadeIn">smoke detector camera</li>
							</ul>
						</h1>
					</div>
					<img id="play-button" class="play-button" src="/assets/icons/play-button2.png" />
				</div>
				<div id="video-modal" class="modal fade">
				  <div class="modal-dialog">
				    <div class="modal-content">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <iframe src="//player.vimeo.com/video/80312270?api=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen id="video"></iframe>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div>
		</div>	

	<div id='logos'>
	  <ul class="wrapper clearfix">
	    <li id="awesomeblog"><a href=""></a></li>
	    <li id="coolpaper"><a href=""></a></li>
	    <li id="nicemag"><a href=""></a></li>
	    <li id="readcrunch"><a href=""></a></li>
	  </ul>
	</div>

	<!-- <div class="inno-system full-screen">
		<div class="inno-system-expl row">
			<h1>the world's most innovative security system</h1>
		</div>
	</div> -->

	<div class="full-screen">
		<div class="expl row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<h1>the sensor</h1>
				<br>
				<p><em>The eyes of the operations.</em> When motion or smoke is detected, the sensor snaps a series of pictures, and sends the images to you. <a href="/docs/product">See more ...</a></p>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<img src="/assets/sensor_only.png">
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	<div class="feel-peace full-screen">
		<div class="feel-peace-expl row">
			<h1>genius brings peace of mind</h1>
		</div>
	</div>

	<div class="protect-home full-screen">
		<div class="row">
			<h1>protect your home<br> like never before</h1>
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-3">
				<div class="ih-item circle effect13 from_left_and_right">
					<a href="#">
				        <div class="spinner"></div>
				        <div class="img"><img src="assets/icons/motion_detection_icon.png" alt="motion detection"></div>
				        <div class="info">
				          	<div class="info-back">
				            	<h3>motion detection</h3>
				            	<p>detect any disturbances while you're away</p>
				          </div>
			        	</div>
			        </a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ih-item circle effect13 from_left_and_right">
					<a href="#">
				        <div class="spinner"></div>
				        <div class="img"><img src="assets/icons/camera_icon.png" alt="camera"></div>
				        <div class="info">
				          	<div class="info-back">
				            	<h3>HD 120° camera</h3>
				            	<p>see what is going on inside your house</p>
				          </div>
			        	</div>
			        </a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ih-item circle effect13 from_left_and_right">
					<a href="#">
				        <div class="spinner"></div>
				        <div class="img"><img src="assets/icons/smokedetector_icon.png" alt="smoke detector"></div>
				        <div class="info">
				          	<div class="info-back">
				            	<h3>smoke detector</h3>
				            	<p>be notified of smoke even when you're away</p>
				          </div>
			        	</div>
			        </a>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	<div class="portable full-screen">
		<div class="portable-expl row">
			<h1>genius is as <br>portable as you</h1>
		</div>
	</div>

	<div class="full-screen">
		<div class="expl row">
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<img src="/assets/base_station_only.png">
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<h1>the base station</h1>
				<br>
				<p><em>The brains of the operations.</em> Plugs straight into your Internet and syncs with the sensors all around your home. When it receives images from your sensors, it forwards them immediately to your phone. <a href="/docs/product">See more ... </a></p>
				
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	<div class="total-control full-screen">
		<div class="total-control-expl row">
			<h1>total control in the palm of your hand</h1>
		</div>
	</div>

	<div class="full-screen">
		<div class="expl row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<h1>the app</h1>
				<br>
				<p><em>The command center of the operations.</em>  Arm and disarm the system directly from your phone. Receives images taken from your home's sensor instantly, empowering you to decide whether or not to call the police. <a href="/docs/product">See more ... </a></p>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<img src="/assets/the_app.png">
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	<div class="genius-on full-screen">
		<div class="genius-on-expl row">
			<h1>get your genius on</h1>
		</div>
	</div>

	<div class="big_wrapper">
	  <div class="wrapper center" id="middle_reserve">
	    <h2><%= Settings.ships %></h2>
	    <button data-celery="genius" class="btn btn-primary reserve"><%= Settings.call_to_action %></button>
	  </div>
	</div> 

	<div class="gray_background" id="faqs">
	  <div class="wrapper clearfix">
	    <h4>Frequently Asked Questions</h4>
	    <ul>
	      <li class=''>
	        <details class=''>
	          <summary class=''>How do I setup Amazon Payments?</summary>
	          <p>You'll need to <a href="https://payments.amazon.com/sdui/sdui/accountstatus">create an Amazon Seller Central account</a>. Afterwards, get your access key and secret key from the "Integration" tab on your AWS account. <a href="https://payments.amazon.com/sdui/sdui/helpTab/Checkout-by-Amazon/Advanced-Integration-Help/Using-Your-Access-Key">Click here for more info</a>.
	          <br />
	          <br />
	          Once you have your access key and secret key, head over to <code>config/settings.yml</code>. Change <code>amazon_access_key</code> and <code>amazon_secret_key</code> appropriately.</p>
	        </details>
	      </li>
	      <li>
	        <details class=''>
	          <summary>Can I use another payments provider?</summary>
	          <p>Of course. We haven't built in support for other providers, but we recommend that you take a look at <a href="https://stripe.com">Stripe</a> or <a href="https://wepay.com">WePay</a>.</p>
	        </details>
	      </li>
	      <li>
	        <details class=''>
	          <summary>How do I edit the FAQ?</summary>
	          <p>The faq is a partial located in <code>app/views/preorder/homepage/_faq.html.erb</code> The <code>summary</code> tag is the title, the <code>p</code> is the body. Make sure to add an <code>li</code> tag for each FAQ entry.</p>
	        </details>
	      </li>
	      <li>
	        <details class=''>
	          <summary>How do I change around the images, product name, etc?</summary>
	          <p>The best way is in <code>config/settings.yml</code>. It has variables for several different parts, the video, the product name, the call to action button ("Fork Now"), and several more.
	          </p>
	        </details>
	      </li>
	    </ul>
	    <ul class='col2'>
	      <li>
	        <details class=''>
	          <summary>How do I change the CSS?</summary>
	          <p>Head over to <code>app/assets/stylesheets/variables.css.scss</code>. It makes it easy to change around the elements used throughout the HTML.
	          <br />
	          <br />
	          Alternatively, you can dive right into the CSS, have a look at <code>app/assets/stylesheets/main.css.scss</code>.</p>
	        </details>
	      </li>
	      <li class=''>
	        <details class=''>
	          <summary>Why did you release this?</summary>
	          <p>Hardware startups are less welcome on Kickstarter than they were 6 months ago. We needed to roll our own kickstarter, so we did. Other hardware startups probably will too, so we made it easier for them by open sourcing our way of doing it.</p>
	        </details>
	      </li>
	      <li class=''>
	        <details class=''>
	          <summary class=''>What software stack does this use?</summary>
	          <p>It's a Ruby on Rails app that makes heavy use of SCSS, Kickstarter's wonderful <code>amazon_flex_pay</code> gem, and a hint of CoffeeScript.</p>
	        </details>
	      </li>
	      <li class=''>
	        <details class=''>
	          <summary class=''>How do I deploy it?</summary>
	          <p>We recommend using Heroku. We include a Procfile for you, so all you need to do is:
	          <p>
	            <p>Install the <a href="https://toolbelt.heroku.com/">Heroku Toolbelt</a></p>
	            <p>Run <code>heroku create</code> in Selfstarter's folder</code></p>
	            <p>Run <code>git push heroku master</code> in Selfstarter's folder</p>
	          </p>
	        </details>
	      </li>
	    </ul>
	  </div>
	</div>
	<div id='logos'>
	  <ul class="wrapper clearfix">
	    <li id="awesomeblog"><a href=""></a></li>
	    <li id="coolpaper"><a href=""></a></li>
	    <li id="nicemag"><a href=""></a></li>
	    <li id="readcrunch"><a href=""></a></li>
	  </ul>
	</div>
	<%= render 'layouts/footer' %>
</body>


