<div>
	<div class="menu">
		<li>
			<ol class="">Community</ol>
			<ol>FAQs</ol>
		</li>
		<li>
			<ol class="">Documentation</ol>
			<ol>User Manual</ol>
		</li>
		<li>
			<ol class="">Legal</ol>
			<ol>Privacy Policy</ol>
			<ol>License</ol>
		</li>
	</div>
	<div class="content">
	</div>
</div>