<div class="footer">
  <div class="wrapper clearfix">
    <ul>
      <li>
        <a href="">Blog</a>
      </li>
      <li>
        <a href="">Support</a>
      </li>
      <li>
        <a href="">Product</a>
      </li>
      <li>
        <a href="">Our Team</a>
      </li>
      <li>
        <a href="">Crowdfunding</a>
      </li>
       <li>
          <a href="">FAQs</a>
      </li>
      <li>
          <a href="">Login</a>
      </li>
    </ul>
    <p class="pull-right">© 2013 Genius Security All rights reserved. Patents pending.</p>
  </div>
</div>
