<div class="footer">
  <div class="wrapper clearfix">
    <ul>
      <li>
        <a href="/docs/blog">Blog</a>
      </li>
      <li>
        <a href="/docs/support">Support</a>
      </li>
      <li>
        <a href="/docs/product">Product</a>
      </li>
       <li>
          <a href="/docs/faqs">FAQs</a>
      </li>
    </ul>
    <p class="pull-right">© 2013 Genius Security LLC</p>
  </div>
</div>
