<script type="text/javascript" src="https://www.trycelery.com/js/celery.js"></script>
<div class="header">
<!-- 	<div class="logo">
		<a href="/"><img src="/assets/logo.png" /></a>
	</div> -->
  	<div class="nav nav-f">
  		<span id="nav-logo"><a href="/"><img src="/assets/smallLogo.png" /></a></span>
	  	<ul>
	  		<li><a href="/docs/team">Our Team</a></li>
	  		<li><a href="/docs/product">Product</a></li>
	  		<li><a href="/docs/support">Support</a></li>
	  		<li><a href="/docs/faqs">FAQs</a></li>
	  	</ul>
  	</div>
  	<div class="preorder">
  		<a class="btn" href="/docs/blog">Blog</a>
  		<button data-celery="genius" class="btn btn-primary"><%= Settings.call_to_action %></button>
  	</div>
  	<div class="h-spacer"></div>
</div>